*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
    
.inter-{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

header{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    max-width: 1950px;
    width: 100%;
    margin: 0 auto;
}
.logo img{
    margin-top: 36px;
    max-width: 139px;
}

nav .navber{
    display: flex;
    gap: 32px;
    justify-content: space-between;
    background-color: var(--#FFFFFF, rgba(255, 255, 255, 1));
    margin-top: 40px;


}
.navber button{
    margin-left: 279px;
    margin-bottom:24px;
    padding: 12px 14px;
    background-color:#30B868;
    color: white;
    border: none;
    border-radius: 4px;
}
.navber li a{
    text-decoration: none;
    color: black;
    font-family: "Inter", sans-serif;

}
.navber li {
    list-style-type: none;
    font-size: 13px;
    font-weight: 600;
    /* color:black; */

}
.navber button:hover{
    background-color: blueviolet;
}


#hero{
    text-align: center;
    margin-top:  115px;
}
.hero-container{
    background-image: url(assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    max-width: 1950px;
    width: 100%;
}

#hero .btn-head{
    margin-bottom:  16px;
    padding-top: 162px;
    background-color:white;
    color: #30B868;
    padding: 8px 12px 8px 12px;
    border: none;
    border-radius: 1000px;
}

#hero h2{
    margin-bottom: 16px;
    font-weight: bold;
    font-size:72px;
    line-height: 84px;

}
#hero  h2 #speacial-line{
    color: #30B868;
}
#hero p{
    text-align: center;
    margin:0 auto;
    color: #FFFFFF;
    
}
#hero  .btn-head{
    margin-top:32px ;
}

#hero .btn-head2{
    margin-top: 16px;
    margin-bottom:196px;
    padding: 14px 40px 14px 14px;
    background-color: #30B868;
    color: #FFFFFF;
    background-image: url(assets/ArrowRight.png);
    background-position: right;
    background-repeat: no-repeat;
    border: none;
    border-radius: 4px;
}


#hero .btn-head3{
    padding: 14px 40px 14px 14px;
    background-color: transparent;
    color: white;
    border-radius: 4px;
    border:1px solid white;
}
#aside-section{
    margin-top: 50px;
    text-align: center;
    
}
#aside-section .aside-heading {
    font-family: "Boldonse", system-ui;
    font-weight: 400;
  font-style: normal;
  margin-bottom: 5px;
  line-height: 58px;

}
#aside-section .aside-heading p{
    color:#627382;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#aside-section .aside-container .box-container{
    display: flex;
    max-width: 1950px;
    width: 55%;
    margin: 0 auto;


}
.box-container img{
    background-color: #F95555;
    border-radius:100%;
    padding: 5px;
    margin-top:99px;
    margin-bottom: 16px;
}
.aside-container .box-container{
    padding: 30px;
    display: flex;
    gap: 24px;
    font-size: 12px;

}
.box-container p{
    color: #627382;
    margin-top: 16px;
    padding-bottom:70px;
    margin-right: 40px;
    text-align: center;
    /* padding-right: 20px; */
    
}
.box-container .box-card{
    max-height: 270px;
    box-shadow:0  4px 4px 0 #00000019;  
    border-radius: 5px;
    border: none;
    
}
.article{
    margin: 300px  120px 120px 120px;
}

.article .blog-container{
    display: flex;
    max-width: 1950px;
    width: 80%;
    margin: 0 auto;
    gap: 60px;
    margin-bottom: 20px;

}
.blog-container .child-2{
}
.blog-container .child-2 h4{
    color: #30B868;
    font-size: 16px;
    margin-bottom: 16px;
    padding-top: 20px;
}
.blog-container .child-2 h1{
     font-size: 48px;
     font-weight: bold;
     font-family: "Roboto", sans-serif;
}
.blog-container .child-2 p{ 
  color:#627382;
  margin-top: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 16px;
  padding-left: 20px;
}
.child-2 .icon{
    background-image: url(assets/CheckCircle.png);
    background-position:left;
    background-repeat: no-repeat;
}