*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
    
.inter-{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

header{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    max-width: 1950px;
    width: 100%;
    margin: 0 auto;
}
.logo img{
    margin-top: 36px;
    max-width: 139px;
}

nav .navber{
    display: flex;
    gap: 32px;
    justify-content: space-between;
    background-color: var(--#FFFFFF, rgba(255, 255, 255, 1));
    margin-top: 40px;


}
.navber button{
    margin-left: 279px;
    margin-bottom:24px;
    padding: 12px 14px;
    background-color:#30B868;
    color: white;
    border: none;
    border-radius: 4px;
}
  .navber button:hover{
     background-color: blueviolet;
     cursor: pointer;
  }

.navber li a{
    text-decoration: none;
    color: black;
    font-family: "Inter", sans-serif;

}
.navber li {
    list-style-type: none;
    font-size: 13px;
    font-weight: 600;

}
.navber button:hover{
    background-color: blueviolet;
}


#hero{
    text-align: center;
    margin-top:  34px;
}
.hero-container{
    background-image: url(assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    max-width: 1950px;
    width: 100%;
}

#hero .btn-head {
    margin-bottom:16px;
    padding-top: 162px;
    background-color:white;
    color: #30B868;
    padding: 8px 12px 8px 12px;
    border: none;
    border-radius:15px;
}

#hero h2{
    margin-bottom: 16px;
    font-weight: bold;
    font-size:72px;
    line-height: 84px;
    color:white;

}
#hero  h2 #speacial-line{
    color: #30B868;
}
#hero p{
    text-align: center;
    margin:0 auto;
    color:white;
    
}
#hero  .btn-head{
    margin-top:32px ;
}

#hero .btn-head2{
    margin-top: 16px;
    margin-bottom:196px;
    padding: 14px 40px 14px 14px;
    background-color: #30B868;
    color: #FFFFFF;
    background-image: url(assets/ArrowRight.png);
    background-position: right;
    background-repeat: no-repeat;
    border: none;
    border-radius: 4px;
}
.hero-container .btn-head2:hover{
    background-color: blueviolet;
    cursor: pointer;
}


#hero .btn-head3{
    padding: 14px 40px 14px 14px;
    background-color: transparent;
    color: white;
    border-radius: 4px;
    border:1px solid white;
}
#aside-section{
    margin-top: 50px;
    text-align: center;
    
}
#aside-section .aside-heading h1{
    font-family: "Roboto", sans-serif;
    font-weight:bold;
  font-style: normal;
  margin-bottom: 16px;
  font-size: 48px;

}
#aside-section .aside-heading p{
    color:#627382;
    margin-bottom: 44px;
}

#aside-section .aside-container .box-container{
    display: flex;
    max-width: 1950px;
    width: 70%;
    margin: 0 auto;


}
.box-container img{
    background-color: #F95555;
    border-radius:100%;
    padding: 5px;
    margin-top:99px;
    margin-bottom: 16px;
}
.aside-container .box-container{
    padding: 30px;
    display: flex;
    gap: 30px;
    font-size: 12px;

}
.box-container p{
    color: #627382;
    margin-top: 16px;
    padding-bottom:70px;
    margin-right: 40px;
    text-align: center;
    
}
.box-container .box-card{
    max-height: 270px;
    box-shadow:0 0 8px 0 #00000031;  
    border-radius: 5px;
    border: none;
    
}

.section-contant{
    margin-top: 120px;
    text-align: center;
    max-width: 1950px;
    width: 70%;
    background-color:#F7F6F2;
    margin: 0 auto;
}
.section-contant .contant h1{
    padding-top: 80px;
    padding-bottom: 16px;
    font-size: 40px;
}
.section-contant .contant p{
    padding-bottom: 16px;
    color: #627382;
}
.section-contant .contant button{
    margin-bottom: 16px;
}

.section-contant .contant button:hover{
      background-color: blueviolet;
      cursor: pointer;
}

.contant{
    max-width: 500px;
    width:70%;
    margin: 0 auto;
}
.contant button{
    padding: 16px 46px 16px 16px;
    background-image: url(./assets/ArrowRight.png);
    background-position: right;
    background-repeat: no-repeat;
    background-color: #30B868;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    border: none;
}

.article{
    margin: 300px  120px 120px 120px;
}

.article .blog-container{
    display: flex;
    max-width: 1950px;
    width: 80%;
    margin: 0 auto;
    gap: 60px;
    margin-bottom: 20px;

}
.blog-container .child-2 h4{
    color: #30B868;
    font-size: 16px;
    margin-bottom: 16px;
    padding-top: 20px;
}
.blog-container .child-2 h1{
     font-size:48px;
     font-weight: bold;
     margin-bottom: 16px;
     font-family: "Roboto", sans-serif;
}
.blog-container .child-2 h5{ 
  color:black;
  margin-top: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 10px;
  padding-left: 20px;
}
.child-2 .icon {
    background-image: url(assets/CheckCircle.png);
    background-position:left;
    background-repeat: no-repeat;
    border-radius:15px;
    font-weight: 500;
    border: none;
}

.blog-container .child-2 p{
    margin-bottom: 20px;
    color: #627382;
}
.text-section{
    background-color:#62738223;
    margin-top: 120px;
    text-align: center;
    margin: 0 auto;
    max-width: 1950px;
    width: 72%;
    box-shadow: 0 4px 4px 0 #62738224;
    border: none;
    border-radius: 5px;
}
 .text-section .text-container .text-heading{
    padding-top: 80px;
    padding-bottom: 16px;

}

.text-container .text-heading{
    font-size: 40px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
}
.text-container .btn button{
    margin-top: 16px;
    padding: 12px 32px 12px 12px;
    background-color: #0a8e41d8;
    color: #FFFFFF;
    background-image: url(assets/ArrowRight.png);
    background-position: right;
    background-repeat: no-repeat;
    border: none;
    border-radius: 4px;
    font-weight: bold;
}
.text-container .btn button:hover{
    background-color: blueviolet;
    cursor: pointer;
}
.text-container  .text-pera{
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #627382;
    max-width: 1950px;
    width: 46%;
    text-align: center;
    padding-right: 20px;
    margin: 0 auto;
}
.text-container  .btn p{
    padding-top: 16px;
    color: #627382;
    padding-bottom: 16px;
}

footer .footer-container{
    margin-top: 190px;
    max-width: 1950px;
    width: 100%;
    background-color: var(--Style, rgba(0, 25, 49, 1));
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-container  .footer-logo {
    margin-top: 120px;
    margin-bottom: 168px;
    margin-left: 120px;
}
.footer-hr {
    border: 0; 
    height: 1px; 
    background-color: #ffffff;
    opacity: 0.1; 
    margin: 20px 0; 
    width: 100%; 
}
.socials h3{
    color:white;
    margin-right: 227px;
    max-width: 114px;
    width: 100%;
    margin-bottom: 16px;
}
.socials .icons{
    display: flex;
    gap: 35px;
    color: white;
}
.socials .icons .fa-brands{
    color: white;
    border-radius: 5px;
}

.section-contant  .tt{
    margin-bottom: 80px;
}